$main-color:#F3FEFF;
$mid-color:#78CFD7;
$dark-color:#013964;
$soft-color:#FBFFFF;
$white:white;
$font-xl:24px;
$font-l:21px;
$font-m:16px;
$font-s:12px;
$main-align:center;
$link-style: italic;
$light: 300;
$reguler:400;
$bold:900;
$height-full:100vh;
$width-full:100vh;
$area-full:100%;
$area-1q:25%;
$area-half:50%;
$area-3q:75%;
$input-height:80px;
$space-xl:50px;
$space-l:25px;
$space-m:15px;
$space-s:8px;
$space-none:0;
$breakpoint-medium-screen: 820px;
